body {
  color: #222;
  /* margin: 1rem; */
  /* max-width: 768px; */
}


/* header.html */
 /* ホバーでドロップダウンを開く */
 .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-item.dropdown:hover .nav-link {
  color: #0056b3; /* ホバー時のリンク色を指定 */
}

.navbar-nav .nav-link.active {
  background-color: #f8f9fa; /* 背景色 */
  color: #333; /* テキスト色 */
  font-size: 16px; /* フォントサイズ */
  font-weight: bold; /* フォントウェイト */
  text-transform: uppercase; /* テキストを大文字に */
  padding: 5px 20px; /* パディング */
  border-radius: 10px; /* 角丸 */
  transition: all 0.3s ease; /* ホバー時のスムーズな変化 */
}

.navbar-nav .nav-link.active:hover {
  background-color: #e0e0e0; /* ホバー時の背景色 */
  color: #007bff; /* ホバー時のテキスト色 */
}

/* メインページエピソードタイトルホバー表示 */
a .card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.8) 100%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: transparent; /* 非ホバー時は文字も透明に */
  /* display: flex;
  align-items: end;
  justify-content: center; */
}

a:hover .card-img-overlay {
  opacity: 1; /* ホバー時に背景を表示 */
  color: #333; /* ホバー時の文字色を黒っぽい色に */
}

/* シングルページ */
.title-section {
  background-color: #474747; /* 背景色 */
  color: #fdfdfd;
  border-radius: 15px;      /* 角丸 */
  padding: 20px;            /* 内側の余白 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
  border: 1px solid #414141; /* 微妙な境界線 */
}

.content-section {
  background-color: #474747; /* 背景色 */
  color: #fdfdfd;
  border-radius: 15px;      /* 角丸 */
  padding: 20px;            /* 内側の余白 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
  border: 1px solid #414141; /* 微妙な境界線 */
}

.content-section video, .content-section img {
  max-width: 80%; /* コンテナの幅を超えない */
  height: auto;    /* 縦横比を維持してリサイズ */
  display: block;  /* 余計な余白を防ぐ */
  margin: 0 auto;  /* 中央揃え（任意） */
}

/* タグのスタイル */
/* タグコンテナ全体 */
.tags-container {
  display: flex;
  align-items: center;
}

/* アイコンのスタイル */
.tags-icon {
  font-size: 1.2rem; /* 少し小さめに */
  color: #f8f9fa; /* 明るい色で背景に映える */
  margin-right: 0.5rem;
}

/* タグリストのスタイル */
.tags-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

/* タグリンクのスタイル */
.tag-link {
  display: inline-block;
  padding: 0.2rem 0.5rem; /* タグ内の余白 */
  background-color: #343a40; /* ダークグレー */
  color: #f8f9fa; /* 明るいテキスト色 */
  border-radius: 3px;
  font-size: 0.875rem; /* フォントサイズを小さめに */
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tag-link:hover {
  background-color: #495057; /* ホバー時の少し明るい背景 */
  color: #ffffff; /* ホバー時のテキスト色 */
}


/* リンクの基本スタイル */
.section-page-a {
  color: white; /* 好みの色を指定 */
  text-decoration: none; /* 下線を消す */
  font-weight: bold; /* 太字にする */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* ホバー時のアニメーション */
}

/* ホバー時のスタイル */
.section-page-a:hover {
  color: grey; /* ホバー時に濃い色にする */
  /* text-shadow: 0 0 5px rgba(194, 194, 194, 0.5); ホバー時に発光風の効果 */
}



