{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  <div class="tags-container d-flex align-items-center">
    <ul class="tags-list list-inline mb-0">
      {{- range . }}
        <li class="list-inline-item">
          <a href="{{ .RelPermalink }}" class="tag-link">{{ .LinkTitle }}</a>
        </li>
      {{- end }}
    </ul>
  </div>
{{- end }}
