{{ define "main" }}
  <!-- セクション(ポッドキャスト番組の紹介) -->
  <div class="container text-break title-section my-3">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </div>
  
  {{ range .Pages }}
    <!-- サムネイル、タイトル、タグ、再生ボタン、投稿日 -->
    <div class="container title-section my-3">
      <div class="row">
        <div class="col-3">
          {{ $image := .Resources.GetMatch .Params.podcastImage }}
          {{ with $image }}
          <img src="{{ .RelPermalink }}" class="card-img-top rounded-2 shadow-lg" style="max-width: 100%;" alt="Card Image">
          {{ else }}
          <img src="/no_image.jpg" class="card-img-top rounded-2 shadow-lg" style="max-width: 100%;" alt="Default Image">
          {{ end }}
        </div>
        <div class="col-9">
          <div class="row">
            <h2><a class="section-page-a" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            <div class="pt-3 text-break">
              {{ .Params.description | truncate 100 }}
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
  {{ end }}
{{ end }}
